<style type="text/css">
	th {
		border: 1px solid #dae0ef;
	}

	td {
		border: 1px solid #dae0ef;
	}

</style>
{% extends 'dashboard_sindanglaya/base.html' %}
{% block content %}
{% load static %}						<!-- Page content -->
{% load mathfilters %}
						<div class="container-fluid pt-7">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box card shadow">
										<!-- konten 1 -->
										<div class="card-body border-top">
											<div class="clearfix">
												<div class="float-left">
													<h3 class="logo mb-0">REKAPITULASI AKAD</h3>
												</div>
												<div class="float-right">
													<h3 class="mb-0">{{ tanggal |date:"d F Y" }}</h3>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="mb-5">
												<div class="row mt-0" >
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table table-bordered m-t-30 text-nowrap">
																<tbody style="text-align: center;">
																	<tr>
																		<th>Progress</th>
																		<th>Jumlah</th>
																		<th>Total yang Sudah Mencapai Akad</th>
																	</tr>
																	<tr>
																		<th>Akad</th>
																		<td>{{ akad }}</td>
																		<th>{{ akad }}</th>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>

												<div class="row mt-4" >
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table m-t-30 text-nowrap">
																<tbody style="text-align: center;">
																	<tr>
																		<th>Progress</th>
																		<th>Jumlah</th>
																		<th>Total yang Belum Mencapai Akad</th>
																	</tr>
																	<tr>
																		<th>SP3K</th>
																		<th>{{ sp3k }}</th>
																		<td style="border-bottom: none"></td>
																	</tr>
																	<tr>
																		<th>OTS</th>
																		<th>{{ ots }}</th>
																		<td style="border-bottom: none; border-top: none"></td>
																	</tr>
																	<tr>
																		<th>Wawancara</th>
																		<th>{{ wawancara }}</th>
																		<td style="border-bottom: none; border-top: none">
																			{{ list_kostumer |sub:akad }}
																		</td>
																	</tr>
																	<tr>
																		<th>SLIK</th>
																		<th>{{ slik }}</th>
																		<td style="border-bottom: none; border-top: none"></td>
																	</tr>
																	<tr>
																		<th>DC</th>
																		<th>{{ dc }}</th>
																		<td style="border-bottom: none; border-top: none"></td>
																	</tr>
																	<tr>
																		<th>Mundur</th>
																		<th>0</th>
																		<td style="border-top: none"></td>
																	</tr>
																	<tr>
																		<th><strong>Total</strong></th>
																		<th style="border-right: none"></th>
																		<th style="border-left: none"><strong>{{ list_kostumer }}</strong></th>
																	</tr>
																	<tr class="bg-gradient-lighter">
																		<th style="border-right: none;">TOTAL CAPAI AKAD</th>
																		<th style="border-left: none;"></th>
																		<td>{{ akad }}</td>
																	</tr>
																	<tr class="bg-gradient-light">
																		<th style="border-right: none;">SISA UNIT</th>
																		<th style="border-left: none;"></th>
																		<td> {{ kavling |sub:akad }} </td>
																	</tr>
																	<tr class="bg-gradient-gray">
																		<th style="border-right: none;">TOTAL UNIT</th>
																		<th style="border-left: none;"></th>
																		<td>{{ kavling }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<hr>
												<div class="d-print-none">
													<div class="float-right">
														<a href="javascript:window.print()" class="btn btn-primary"><i class="fa fa-print"></i> print</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										<!-- konten 1 end -->

										<!-- konten 2 -->


										<!-- konten 2 end -->
									</div>
								</div>
							</div>
						</div>
						<!-- konten 1 end-->
{% endblock %}