{% extends 'dashboard_pprg/base.html' %}
{% block content %}
{% load static %}						<!-- Page content -->

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box card shadow">
										<div class="card-body border-bottom">
											<div class="clearfix">
												<div class="float-left">
													<h3 class="logo mb-0">REKAP AKAD PERBULAN</h3>
												</div>
												<div class="float-right">
													<h3 class="mb-0">12-08-2018</h3>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="mb-0">
												<!-- end row -->

												<div class="row mt-4" >
													<div class="col-md-12">
														<h3>2018</h3>
														<div class="table-responsive">
															<table class="table table-bordered m-t-30 text-nowrap">
																<tbody style="text-align: center;">
																	<tr>
																		<th>Oktober</th>
																		<td>12</td>
																	</tr>
																	<tr>
																		<th>November</th>
																		<td>11</td>
																	</tr>
																	<tr>
																		<th>Desember</th>
																		<td>10</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<hr>
												<div class="d-print-none">
													<div class="float-right">
														<a href="javascript:window.print()" class="btn btn-primary"><i class="fa fa-print"></i> print</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
{% endblock %}