{% extends 'dashboard_kannada/base.html' %}
{% block content %}
						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Tambah Kavling</li>
								</ol>
							</div>
						</div>

					<!-- IDENTITAS -->
					<form method="POST">{% csrf_token %}
						<div class="container-fluid pt-2">
							<div class="row">
								<div class="col-xl-12">
									<div class="card m-b-20">
										<div class="card-header">
											<h2 class="mb-0">Identitas Kavling</h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="form-label">Kavling</label>
														{{ form.nama_kavling }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Harga Kavling</label>
														{{ form.harga_standar }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Plafon</label>
														{{ form.plafon }}
														
													</div>
					
													<div class="form-group">
														<label class="form-label">Booking</label>
														{{ form.booking }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Uang Muka</label>
														{{ form.uang_muka }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Hook</label>
														{{ form.hook}}
														
													</div>
													<div class="form-group">
														<label class="form-label">KLT</label>
														{{ form.klt }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Biaya Strategis</label>
														{{ form.biaya_strategis }}
														
													</div>
													<div class="form-group">
														<label class="form-label">Nama Pemilik /Pemohon</label>
														
														<input type="text" class="form-control" name="example-text-input" placeholder="{{ obj.pemohon }}" disabled="True">
													</div>
												</div>
											</div>
											<h2 style="text-align: right">Rp. {{ total }} </h2>
										</div>
									</div>								
								</div>							
							</div>
						</div>
						<div class="col-md-12" style="text-align: right;">
							<button class="btn btn-primary mt-0 mb-5" type="submit" style="width: 100px;">SIMPAN</button>
						</div>
						</form>

					<!-- IDENTITAS END -->

{% endblock %}